PORT=5001
MONGO_URI=mongodb url
JWT_SECRET=jwt token
JWT_REFRESH_SECRET=refresh token
NODE_ENV=development
CLIENT_URL=client url

# Redis Configuration
REDIS_URL=redis url

# SMTP Configuration (Nodemailer - Gmail)
EMAIL_USER=email
EMAIL_PASS=pass
GOOGLE_CLIENT_ID=google client id

# AWS S3 Storage Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=region
AWS_S3_BUCKET_NAME=your_s3_bucket_name

