PORT=5001
MONGO_URI=mongodb+srv://rihen:rihen123@cluster0.n6wnc3y.mongodb.net/urbaniq?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=urbaniq_super_secret_jwt_key_2026
JWT_REFRESH_SECRET=urbaniq_super_secret_jwt_refresh_key_2026
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Redis Configuration
REDIS_URL=redis://localhost:6379

# SMTP Configuration (Nodemailer - Gmail)
EMAIL_USER=skillforgeoffical@gmail.com
EMAIL_PASS=bigepnukrvyqxzhe
GOOGLE_CLIENT_ID=79854378632-ui72cm1ncp1dv9hactpjng58i918a5c0.apps.googleusercontent.com
