PORT=5001
MONGO_URI=mongodb+srv://rihen:rihen123@cluster0.n6wnc3y.mongodb.net/urbaniq?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=urbaniq_super_secret_jwt_key_2026
JWT_REFRESH_SECRET=urbaniq_super_secret_jwt_refresh_key_2026
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# Redis Configuration
REDIS_URL=redis://localhost:6379

# SMTP Configuration (Nodemailer)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_username
SMTP_PASSWORD=your_smtp_password
FROM_EMAIL=noreply@urbaniq.com
